
		<div class="contact-addr">
		<h2>Contact Us</h2>
			<p>
				Unit 1, WorldStreet<br />
				Essex, London<br />
				UB6 8ZZ<br />
				Tel: +44(0)845 222 222<br />
				Fax: +44(0)845 222 333<br />
				email:info@hotelintown.com<br />					
				<a href="#" title="view map">View Map</a>
				<br /><br />
			</p>
		</div>
