
		<div class="contact-addr">
		<h2>Contact Us</h2>
			<p>
				Unit 1, WorldStreet<br />
				Essex, London<br />
				UB6 8ZZ<br />
				<strong>Tel:</strong> +44(0)845 222 222<br />
				<strong>Fax:</strong> +44(0)845 222 333<br />
				<strong>email: </strong><a href="mailto:info@hotelintown.com"> info@hotelintown.com</a><br />					
				<a href="#" title="view map" class="map-link">View Map</a>
				<br /><br />
			</p>
		</div>
