<%= render :partial => 'left_side' %>
<div class="message" style="float:right;width:500px;">
	<h2>Thankyou</h2>
<p>Your Message has been sent to the Customer Service and we usually give feedback in 24 hours.</p>
</div>

