<%= render :partial => 'left_side' %>
<div class="message" style="float:left;width:574px;padding:15px 0 0 35px;">

	<h2>Thankyou</h2>

Your Message has been sent to the Customer Service and we usually give feedback in 24 hours.
</div>
