
.win-box .filters, .win-box .info{float:left;width:100%;}
.search-box{float:right;background:url(../images/ie/search-box.jpg) no-repeat;width:278px;height:327px;display:block;border:none;}
/*.login-box{background:url(../images/backgrounds/login-box-bg.jpg) no-repeat;width:372px;margin:50px auto;padding:22px 22px 12px;float:left;border:none;min-height:231px;}*/
.login-box-top{background:url(../images/ie/login-box-top.jpg) no-repeat;width:416px;height:10px;float:left;}
.login-box-top{background:url(../images/ie/login-box-mid.jpg) repeat-y;width:416px;height:auto;float:left;}
.login-box-bottom{background:url(../images/ie/login-box-bottom.jpg) no-repeat;width:416px;height:10px;float:left;}

.win-box-top{width:222px;height:12px;float:left;}
.win-box{width:222px;height:auto;float:left;border:none;}
.win-box-bottom{width:222px;height:12px;float:left;}
.guides .win-box-top{float:right;}
.guides .win-box{border:none;float:right;width:324px;margin:0;}
.guides .win-box-bottom{float:right;}
.listing .win-box-top{background:url(../images/ie/win-box-top.jpg) no-repeat;width:368px;height:12px;float:left;}
.listing .win-box{background:url(../images/ie/win-box-mid.jpg) repeat-y;width:324px;height:auto;float:left;border:none;padding-bottom:0;margin-bottom:0;}
.listing .win-box-bottom{background:url(../images/ie/win-box-bottom.jpg) no-repeat;width:368px;height:12px;float:left;}


.listing .list-block .box{background:url(../images/ie/listing-box.jpg) no-repeat;width:538px;height:175px;padding-bottom:0; border:none;}
.login-box-top{background:url(../images/ie/login-box-top.jpg) no-repeat;width:416px;height:10px;float:left;}
.login-box{background:url(../images/ie/login-box-mid.jpg) repeat-y;width:372px;height:auto;float:left;border:none;margin:0;}
.login-box-bottom{background:url(../images/ie/login-box-bottom.jpg) no-repeat;width:416px;height:12px;float:left;}

.contact-form{background:url(../images/ie/contact-form-bg.jpg) no-repeat;border:none;width:529px;}