/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,p,blockquote{ margin:0; padding:0;}
h1,h2,h3,h4 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
fieldset,img { border:0 !important; }
a{ outline:none; text-decoration:none;}
ol,ul {	list-style:none; }
body, html{ height:100%;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,p,blockquote{ margin:0; padding:0;}
h1,h2,h3,h4 { font-size:100%; font-weight:normal; color:#F07A07;}
q:before,q:after { content:''; }
fieldset,img { border:0 !important; }
a{ outline:none; text-decoration:none;color:#333333;}
ol,ul {	list-style:none; }
body, html{ height:100%;}

/*  Main  */
body { font-family: Helvetica, Arial, sans-serif; font-size: 13px;color:#282828;}

#wrapper { margin:0 auto;width:948px; /*  Change to desired width :)  */}
#header{border-left:1px solid #CDCDCD;border-right:1px solid #CDCDCD;border-bottom:1px solid #CDCDCD;float:left;height:110px;width:946px;}
.logo{border-right:1px solid #CDCDCD;float:left;width:270px;}
.logo a{background:url(../images/logo.jpg) no-repeat;float:left;height:0;overflow:hidden;padding-top:110px; width:270px;}
.header-right{float:left;width:675px;}
/* Generic */
.login-box h2, .search-box h2, .small-box h2, .info h2, .contact-addr h2{height:30px;padding-bottom:8px; background:url(../images/backgrounds/down-shadow2.jpg) repeat-x center bottom;}
.center{width:412px;margin:0 auto;}

/* Navigations */
.top-nav{height:27px;float:left;width:100%;background:url(../images/backgrounds/top-nav-bg.jpg) repeat-x;}
.top-nav .left{float:left;width:230px;position:relative;z-index:5;}
.top-nav .left .language{float:left;height:0;overflow:hidden;padding-top:28px;width:150px;}
.top-nav .left .language-links{float:left;position:absolute;top:30px;width:145px;z-index:5;}
.top-nav .left .language-list{float:left;width:120px;padding:2px;}
.top-nav .left .language-list .name{float:left;height:26px;width:26px;margin: 6px 4px 0 0;}
.top-nav .left .language-list .name a{cursor:pointer;display:block;height:26px;width:26px;visibility:visible;}
.top-nav .right{float:right;width:445px;}
.top-nav .right li a{color:#FFFFFF;}

.language-links,.account-links{float:right;width:350px;}
.account-links li{float:left;height:25px;line-height:25px;padding:0 6px;color:#ffffff;}
.advert{height:52px;float:left;width:100%;}

.main-nav{float:left;width:590px;height:31px;}
.main-nav ul{float:left;}
.main-nav li{float:left;line-height:31px;position:relative;}
.main-nav li a{text-transform:uppercase;padding-left:35px;color:#282828;}
.main-nav li a:hover{text-decoration:underline;}

/* Content*/
.content {background:url(../images/backgrounds/down-shadow2.jpg) repeat-x center top;float:left;min-height:400px;padding-top:15px;color:#282828;width:100%;}
.content h2{font-size:18px;}
.main-content h1{font-size:20px;}
.main-content, .banner .images{width:615px;float:left;}
.main-content{padding-left:35px;padding-top:24px;}
.banner{height:374px;float:left;width:100%;}
.images{height:369px;;margin-top:1px;}
.search-box, .login-box{border:2px solid #3DB2CC;display:block;-moz-border-radius:10px; -webkit-border-radius:10px;border-radius:10px;}
.search-box{width:274px;height:323px;padding:22px;float:right; }

.search-box form{float:left;width:100%;}
.search-box form ul li{float:left;width:100%;padding-bottom:12px;}
.search-box form label{float:left;width:100%;font-weight:bold;color:#282828;padding-bottom:4px;}
.search-box form input{width:80%;padding:3px;}
.search-box form .arrival-date{width:140px;}
.search-box form select{width:50%;float:left;}

.search-box form .submit-button{background:url(../images/buttons/search.jpg) no-repeat; height:36px;width:114px;float:right;cursor:pointer;border:none;}
.search-box form .submit-button:hover{background-position:0 -37px;}

.win-box{float:left;width:222px;padding:22px;border:2px solid #3DB2CC;display:block;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.win-box .contact-addr{line-height:1.5;}

.info-box{width:100%;margin:12px 0;float:left;background: none repeat #DBF6BE;border:1px solid #FDD845;border-color:#9BBF65;color:#3C4E27;}
.info-box .cont{border-top: 1px solid #FFFFFF;font-weight: bold; padding: 10px;text-align: center;}

.small-box ul, .info ul{padding-left:16px;}
.small-box{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;
background:none;border:1px solid #cdcdcd;height:auto;padding:18px;height:160px;}

.small-box ul li, .info ul li{list-style-type:square;line-height:1.5em;}
.small-box ul li a, .info ul li a{text-decoration:underline;color:#333333;}
.one-third{float:left;width:310px;margin-right:9px;}
.last{margin:0;}
/* login page */
.login-box{width:368px;margin:50px auto;padding:22px 22px 12px;float:left;}
.login-box form{float:left;width:100%;}
.login-box form .fields .field{float:left;width:100%;padding-bottom:10px;}
.login-box form .fields .label{line-height:24px;width:164px;padding: 0 10px 0 0;float:left;text-align:right;}
.login-box form .fields .input{float:left;}
.login-box form .fields .checkbox{margin-left:172px;}
.login-box form .fields .checkbox input{width:16px;height:16px;margin:2px;}
.login-box form .fields .input input{width:180px;padding:5px 5px 4px;}
.login-box form .fields .buttons{clear:both;padding:0px 0;text-align:right;}
.login-box form .fields .buttons input{cursor:pointer;}
.login-box .links{float:left;width:100%;height:24px;line-height:24px;}
.login-box a:hover{text-decoration:underline;}
/* Footer */
#footer{float:left;padding-top:15px;width:948px;}
#footer .left{width:615px;float:left;}
.footer-nav{float:left;height:25px;line-height:25px;padding-left:10px;width:550px;}
.footer-nav ul{float:left;width:100%;}
.footer-nav ul li{float:left;}
.footer-nav ul li a{padding-right:25px;color:#282828;}
#footer .right{width:270px;float:right;}
.copyright{float:left;height:30px;width:100%;text-align:center;color:#999;border-top:1px solid #cdcdcd;
background:url(../images/backgrounds/down-shadow.jpg) repeat-x;line-height:30px;}
/* Contact Page, Contact Form */
.left-area{float:left;width:272px;}

input, textarea {border:1px solid #CFCFCF;border-top:#919191;color:#404040; background-color: #F2F2F2; border-style: solid;border-width: 1px;padding: 4px 0;}
.contact-form{float:left;width:600px;padding-top:40px;}
.contact-form  form input, .contact-form form textarea {width:380px;}
.contact-form form{width:545px;float:left;}
.contact-form ul{float:left;padding-bottom:18px;}
.contact-form ul li{padding-bottom: 3px;float:left;}
.contact-form ul.left li, .contact-form ul.right li {width:222px;float:left;}
.contact-form ul li label{width: 220px; float:left;}

.contact-form li input {float:left;width:220px;}
.contact-form ul li span{color:#F07A07;}
.contact-form ul.left{width:222px;float:left;}
.contact-form ul.right{width:222px;float:right;}
.contact-form  li textarea {float:left;height:150px;width:545px;overflow:auto;}
.contact-form li.send-enquiry {float:left;width:550px;text-align:right;padding-top:22px;}
.contact-form li.send-enquiry p{font-size:11px;}
.contact-form input.submit-button {background:url(../images/buttons/send-the-enquiry.jpg) no-repeat; border:medium none;cursor:pointer;height:36px;width:179px;float:right;}
.contact-form input.submit-button:hover{background-position: 0 -37px;}


/* listing page*/
.pagination{float:left;}
.pagination li{float:left;margin-right:10px;}
.pagination li a{border:1px solid #CDCDCD;display:block;padding:5px 10px;text-align:center;text-decoration:none;
-moz-border-radius:3px 3px 3px 3px;}
.pagination li.selected a{background:none #CDCDCD;border-color:#CDCDCD;color:#FFFFFF;}