/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,p,blockquote{ margin:0; padding:0;}
h1,h2,h3,h4 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
fieldset,img { border:0 !important; }
a{ outline:none; text-decoration:none;}
ol,ul {	list-style:none; }
body, html{ height:100%;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,p,blockquote{ margin:0; padding:0;}
h1,h2,h3,h4 { font-size:100%; font-weight:normal; color:#F07A07;}
q:before,q:after { content:''; }
fieldset,img { border:0 !important; }
a{ outline:none; text-decoration:none;color:#333333;}
ol,ul {	list-style:none; }
body, html{ height:100%;}

/*  Main  */
body { font-family: Helvetica, Arial, sans-serif; font-size: 13px;color:#282828;}

#wrapper { margin:0 auto;width:948px; /*  Change to desired width :)  */}
#header{border-left:1px solid #CDCDCD;border-right:1px solid #CDCDCD;border-bottom:1px solid #CDCDCD;float:left;height:110px;width:946px;}
.logo{border-right:1px solid #CDCDCD;float:left;width:270px;}
.logo a{background:url(../images/logo.jpg) no-repeat;float:left;height:0;overflow:hidden;padding-top:110px; width:270px;}
.header-right{float:left;width:675px;}
.main-content .acc-details{float:left;padding-bottom:18px;width:100%;}

/* Generic */
.content h1{font-size:18px;}
.content h2{font-size:16px;}
.content h1, .content h2{font-family:"Rockwell Std", Rockwell, Helvetica, Arial;}
.content .heading{float:left;width:100%;height:16px;height:30px;}
.content {background:url(../images/backgrounds/down-shadow2.jpg) repeat-x center top;float:left;min-height:400px; padding-top:15px;color:#282828;width:100%;}

.login-box h2, .search-box h2, .small-box h2, .info h2, .win-box h2, .main-content h2{height:30px;padding-bottom:8px; background:url(../images/backgrounds/down-shadow.jpg) repeat-x center bottom;}
.center{width:412px;margin:0 auto;}
#flash_alert{color:#d64646;}
.full-width{width:100%;float:left;}
.one-half{width:50%;float:left;}
#error_explanation h2{display:none;}
#error_explanation ul li{color:#d64646;}
/* Navigations */
.top-nav{height:27px;float:left;width:100%;background:url(../images/backgrounds/top-nav-bg.jpg) repeat-x;}
.top-nav .left{float:left;width:230px;position:relative;z-index:5;}
.header-right .language{padding:5px 12px 5px 35px;}
.header-right .language a{float:left;height:28px;width:150px;color:#ffffff;}
.header-right .language-links{float:right;width:90px;height:31px;}
.header-right .language-list{float:left;width:90px;padding-top:6px;height:25px;}

.header-right .language-list li{cursor:pointer;display:block;height:15px;width:24px;float:left;padding-right:4px;}
.header-right .language-list li a{float:left;height:0;padding-top:15px;overflow:hidden;width:24px;}
.header-right .language-list li.english a{background:url(../images/english.gif) no-repeat;}
.header-right .language-list li.france a{background:url(../images/france.png) no-repeat;}
.header-right .language-list li.spanish a{background:url(../images/spanish.gif) no-repeat;}

.top-nav .right{float:right;width:445px;}
.top-nav .right li a{color:#FFFFFF;}

.language-links,.account-links{float:right;}
.account-links li{float:left;height:25px;line-height:25px;padding:0 6px;color:#ffffff;}
.advert{height:52px;float:left;width:100%;}
.nav-wrap{float:left;width:100%;height:31px;}
.main-nav{float:left;width:450px;height:31px;}
.main-nav ul{float:left;}
.main-nav li{float:left;line-height:31px;}
.main-nav li a{text-transform:uppercase;padding-left:35px;color:#454545;font-family:"Rockwell", Arial;font-size:13px;margin-bottom:4px;}
.main-nav li a:hover{text-decoration:underline;}

/* Home page */
.top-rated{float:right;padding:10px 0;width:318px;}
.top-rated .list{width:100%;padding-left:0;}
.top-rated .hotel-box{padding:15px 0;float:left;background:url(../images/backgrounds/down-shadow.jpg) repeat-x center top; width:100%;}
.top-rated .hotel-box .thumb{float:left;width:80px;height:50px;border:1px solid #cdcdcd;padding:2px;}
.top-rated .hotel-box .details{font-size:12px;float:left;margin-left:10px;width:222px;min-height:50px;padding-top:5px;}
.top-rated .s1, .top-rated .s2,.top-rated .s3, .top-rated .s4,.top-rated .s5{margin-top:3px;float:left;width:96px; height:18px;}
.top-rated .hotel-box .details .reviews{float:right;width:60px;height:18px;padding-top:3px;}
.top-rated .hotel-box .details .reviews a{text-decoration:underline;}
.top-rated .hotel-box  h3{width:100%;padding-bottom:4px;}
.top-rated .hotel-box .details h3 a{color:#F07A07;}
.browse-by{width:615px;float:left;padding:10px 0;}
.browse-by .hotel-types ul li{padding-left:12px;float:left;background:url(../images/square-blue.jpg) no-repeat 0 4px;height:28px;} 
/* Content*/

.main-content h1{font-size:20px;}
.main-content, .banner .images{width:615px;float:left;}
.main-content{padding-left:35px;padding-top:24px;width:641px;min-height:400px;}
.banner{height:374px;float:left;width:100%;}
.images{height:369px;;margin-top:1px;}
.search-box, .login-box{border:2px solid #3DB2CC;display:block;-moz-border-radius:10px; -webkit-border-radius:10px;border-radius:10px;}
.search-box{width:274px;height:323px;padding:22px;float:right; }

.search-box form{float:left;width:100%;padding-top:20px;}
.search-box form ul li{float:left;width:100%;padding-bottom:12px;}
.search-box form label{float:left;width:100%;font-weight:bold;color:#282828;padding-bottom:4px;}
.search-box form input{width:80%;padding:3px;}
.search-box form .arrival-date{width:140px;}
.search-box form select{width:50%;float:left;}

.search-box form .submit-button{background:url(../images/buttons/search.jpg) no-repeat; height:31px;width:114px;float:right;cursor:pointer;border:none;}
.search-box form .submit-button:hover{background-position:0 -33px;}

.win-box{float:left;width:222px;padding:22px;border:2px solid #3DB2CC;display:block;-moz-border-radius:10px; -webkit-border-radius:10px;border-radius:10px;margin-bottom:12px;}
.win-box .contact-addr{line-height:1.5;}

.info-box{width:100%;margin:12px 0;float:left;background: none repeat #DBF6BE;border:1px solid #FDD845;border-color:#9BBF65;color:#3C4E27;}
.info-box .cont{border-top: 1px solid #FFFFFF;font-weight: bold; padding: 10px;text-align: center;}
.small-box ul, .info ul, .admin ul{float:left;}

.small-box{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;
background:none;border:1px solid #cdcdcd;height:auto;padding:18px;height:160px;}

.small-box ul li, .info ul li, .admin ul li{background:url(../images/square-green.jpg) no-repeat 0 6px; padding-left:18px;height:22px;}
.small-box ul li a, .info ul li a, .admin ul li a{color:#333333;line-height:1.5em;}
.small-box ul li a:hover, .info ul li a:hover, .admin ul li a:hover{text-decoration:underline;}
.one-third{float:left;width:310px;margin-right:9px;}
.last{margin:0;}

/* login page */
.login-box{width:368px;margin:50px auto;padding:22px 22px 12px;float:left;}
.login-box form{float:left;width:100%;}
.login-box form .fields .field{float:left;width:100%;padding-bottom:10px;}
.login-box form .fields .label{line-height:24px;width:164px;padding: 0 10px 0 0;float:left;text-align:right;}
.login-box form .fields .input{float:left;}
.login-box form .fields .checkbox{margin-left:172px;background-color:none;}
.login-box form .fields .checkbox input{width:16px;height:16px;margin:2px;}
.login-box form .fields .input input{width:180px;padding:5px 5px 4px;}
.login-box form .fields .buttons{clear:both;padding:0px 0;text-align:right;height:26px;}
.login-box form .fields .buttons input{cursor:pointer;width:103px;height:0;background:url(../images/buttons/login.jpg) no-repeat;float:right;padding-top:28px;overflow:hidden;border:none;}
.login-box form .fields .buttons input.register{cursor:pointer;width:114px;height:0; background:url(../images/buttons/register.jpg) no-repeat;float:right;padding-top:28px;overflow:hidden;border:none;}

.login-box .links{float:left;width:100%;height:24px;line-height:24px;}
.login-box a:hover{text-decoration:underline;border:none;}
.login-box .flash_alert{}
.login-box form .fields .buttons input.reset-password{cursor:pointer;width:103px;height:0; background:url(../images/buttons/reset-pwd.jpg) no-repeat;float:right;padding-top:28px;overflow:hidden;border:none;}
.login-box form .fields .buttons input:hover{background-position:0 -33px;}
/* Footer */
#footer{float:left;padding-top:40px;width:948px;}
#footer .left{width:615px;float:left;}
.footer-nav{float:left;height:25px;line-height:25px;padding-left:10px;width:550px;}
.footer-nav ul{float:left;width:100%;}
.footer-nav ul li{float:left;}
.footer-nav ul li a{padding-right:25px;color:#454545;font-family:"Rockwell", Helvetica, Arial;}
#footer .right{width:270px;float:right;}
.copyright{float:left;height:30px;width:100%;text-align:center;color:#999;border-top:1px solid #cdcdcd;
background:url(../images/backgrounds/down-shadow.jpg) repeat-x;line-height:30px;}
#footer .socials{float:right;width:83px;}
#footer .socials li{margin-left:5px;width:22px;height:22px;float:left;}
#footer .socials li a{background:url(../images/socials.jpg) no-repeat;float:left;padding-top:22px;height:0;overflow:hidden;width:22px;}
#footer .socials .twitter a{background-position:0 0;}
#footer .socials .facebook a{background-position:-31px 0;}
#footer .socials .rss a{background-position:-61px 0}

/* Contact Page, Contact Form */
.left-area{float:left;width:272px;}

input, textarea {border:1px solid #CFCFCF;border-top:#919191;color:#404040; background-color: #F2F2F2; border-style: solid;border-width: 1px;padding: 4px 0;}
#hotel_facility_list_{background-color:none;}
.contact-form{float:left;width:600px;padding-top:40px;}
.contact-form  form input, .contact-form form textarea {width:380px;}
.contact-form form{width:545px;float:left;}
.contact-form ul{float:left;padding-bottom:18px;}
.contact-form ul li{padding-bottom: 3px;float:left;}
.contact-form ul.left li, .contact-form ul.right li {width:222px;float:left;}
.contact-form ul li label{width: 220px; float:left;}

.contact-form li input {float:left;width:220px;}
.contact-form ul li span{color:#F07A07;}
.contact-form ul.left{width:222px;float:left;}
.contact-form ul.right{width:222px;float:right;}
.contact-form  li textarea {float:left;height:150px;width:545px;overflow:auto;}
.contact-form li.send-enquiry {float:left;width:550px;text-align:right;padding-top:22px;}
.contact-form li.send-enquiry p{font-size:11px;}
.contact-form input.submit-button {background:url(../images/buttons/send-the-enquiry.jpg) no-repeat; border:medium none;cursor:pointer;height:31px;width:151px;float:right;}
.contact-form input.submit-button:hover{background-position: 0 -33px;}


/* listing page*/
.list{float:left;padding-left:12px;width:664px;}
.list-block{float:left;width:100%;margin-bottom:12px;}

.list-block .box, .list-block .feature{background-color:#fffff0;border:1px solid #cdcdcd ;-webkit-border-radius:10px;border-radius:10px;-moz-border-radius:10px; display:block;padding:15px;float:left;width:630px; }
.list-block .box, .list-block .box .actions{float:left;width:100%;}
.list-block .box .actions a{color:#D64646;}
.list-block .feature{background-color:#fffff0;}
.list-block .box .thumb{float:left;width:80px;height:50px;border:1px solid #cdcdcd;padding:2px;}
.list-block .box .thumb a{-moz-box-shadow:0 1px 3px #777777;display:inline-block;}
.list-block .box .thumb img{border:1px solid #7C7C7C;}
.list-block .desc{width:100%;float:left;padding-top:8px;line-height:16px;height:65px;overflow:hidden;}
.list-block .box .details{float:left;margin-left:10px;width:511px;min-height:50px;}
.list-block .box .details h3{font-size:14px;width:100%;border-bottom:1px solid #cdcdcd;padding-bottom:4px;margin-bottom:2px;}
.list-block .box .details h3 a{color:#F07A07;}
.list-block .loc{float:left;width:100%;}
.list-block .price{float:right;font-weight:bold;}
.list-block .right{float:right;width:200px;}

.pagination{float:left;}
.pagination li{float:left;margin-right:10px;}
.pagination li a{border:1px solid #CDCDCD;display:block;padding:5px 10px;text-align:center;text-decoration:none;
-moz-border-radius:3px 3px 3px 3px;}
.pagination li.selected a{background:none #CDCDCD;border-color:#CDCDCD;color:#FFFFFF;}

/* details page */

.details .hotel-name h1{display:inline;font-size:18px;overflow:hidden;padding-right:110px;font-family: "Rockwell Std", Rockwell, Arial;}
.s1, .s2, .s3, .s4, .s5{background:url(../images/star-sprite.png) no-repeat;height:20px;width:96px;}
.s1{background-position:right -110px;}
.s2{background-position:right -85px;}
.s3{background-position:right -60px;}
.s4{background-position:right -35px;}
.s5{background-position:right -10px;}
.details .left-gallary{float:left;width:337px;border:1px solid #cdcdcd; padding:13px 10px 13px 13px;}

.details .hotel-details{margin-left:20px;float:left;width:560px;}
.details .hotel-addr{float:left;width:100%;padding-top:10px;}
.details .hotel-addr .hotel-name{float:left;height:30px;display:block;width:100%;}
.details .hotel-addr .address{float:left;background:url(../images/backgrounds/down-shadow.jpg) repeat-x center top;width:100%;padding:10px 0;}
.details .hotel-details .fb-like{float:left;background:url(../images/backgrounds/down-shadow.jpg) repeat-x center top;width:100%;padding:10px 0;height:22px;}

.details .add-room-type{text-decoration:underline;}
.details .overview, .details .hotel-facilities, .details .room-types, .details .direction, .details .terms {float:left;padding-top:18px;width:100%;}

.details .hotel-facilities ul li{float:left;padding-left:18px;background:url(../images/square-blue.jpg) no-repeat 0 4px;width:262px;padding-bottom:8px;}

.details .left{float:left;width:368px;}
.details .right{float:right;width:580px;}

.details .room-types .table{float:left;width:100%;}
.details .room-types .table .header{background:url(../images/table-header.jpg) no-repeat;height:29px;color:#ffffff;}
.details .room-types .table ul li{float:left;line-height:30px;height:29px;}
.details .room-types .table ul li span{padding-left:20px;}
.details .room-types .table ul li.room-type{width:200px;}
.details .room-types .table .row li.room-type{font-weight:bold;}
.details .room-types .table ul li.avail{width:200px;}
.details .room-types .table ul li.price{width:100px;}
.details .room-types .table .row{float:left;width:100%;border-bottom:1px solid #cdcdcd;height:60px;}
.details .room-types .table .row .book{width:100%;line-height:20px;color:#F03A3A;}
.details .room-types .table .row .book a{text-decoration:underline;}

.details .customer-reviews{float:left;padding:18px 12px 0;width:335px;}
.details .customer-reviews .box{float:left;padding:10px 0;background:url(../images/backgrounds/down-shadow.jpg) repeat-x;width:100%;}

.details .customer-reviews p{max-height:50px;overflow:hidden;line-height:16px;}
.details .customer-reviews .rating span{color:#f03a3a;}
.details .customer-reviews .by{}
.details .customer-reviews .all{width:100%;float:left;text-align:right;}
.details .customer-reviews .all a{text-decoration:underline;}
/* Ad-Gallery */
.ad-gallery {
  width: 100%;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 337px;
    height: 240px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(non-existing.jpg)\9
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(opa75.png);
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 99.9%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -40px;
      width: 13px;
      display: block;
      background: url(ad_scroll_back.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 13px;
      background: url(ad_scroll_forward.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;margin-left:2px;
        width: 9000px;
        list-style: none;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 4px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 3px solid #CCC;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 3px solid #616161;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}