		<div class="guides">
			<div class="summary">
				<div class="win-box-top"></div>
				<div class="win-box">
					<h2>
						Emergencies
					</h2>
					<p>
						For police, medical or fire emergencies dial 999 or 112 free from any phone.
					</p>
					<h2>
						Currency
					</h2>
					<p>
						Britain's currency is pound sterling (£). There are one hundred pence to one pound. You will encounter coins worth 1p, 2p, 5p, 10p, 20p, 50p, £1, and £2. Notes come in £5, £10, £20 and £50. You can withdraw money from cash machines all over the city, although be wary that some machines in shops may charge you for withdrawing your money (usually £1.50 - £1.75).
					</p>
					<h2>
						Visa &amp; Immigration
					</h2>
					<p>
						EU residents do not need a visa to enter the country and visitors from USA, Canada, Australia and New Zealand can also enter without a visa for up to 6 months provided that you can prove how you will support yourself during your stay.
					</p>
					<h2>
						Public Holidays
					</h2>
					<p>
						Good Friday: 2nd April<br>
						Easter Monday: 5th April<br>
						May Bank Holiday: 3rd May<br>
						Spring Bank Holiday: 31st May<br>
						Summer Bank Holiday: 30th August<br>
						Christmas: 25th December<br>
						Boxing Day: 26th December<br>
					</p>
				</div>
				<div class="win-box-bottom"></div>
			</div>
			<div class="left-area">
				<div class="information">
					<h2>
						City Guides
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
					</p>
					<h2>
						Transports
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
					</p>
					<h2>
						Useful Links
					</h2><a href="http://tlf.gov.uk">Transport for London</a><br>
					<a href="http://www.britishmuseum.org/">British Museum</a>
				</div>
			</div>
