      <div class="banner">
      	<div class="images"  id="pics" style="position:relative;">
      	<div class="cycle">	
      		<a href="/seaviewinn" title="Sea View Inn">
      			<img src="media/seaviewinn/01.jpg" alt="Sea View Inn" />
      		</a>
      	</div>
      	<div class="cycle">
      		<a href="/homely-house" title="Homely House">
      			<img src="media/HomelyHouse/01.jpg" alt="homely house" />
      		</a>
      	</div>
      	<div class="cycle">
      		<a href="/" title="Homely House">
      			<img src="media/hotel_01.jpg" alt="hotels" />
      		</a>
      	</div>
      	<div class="cycle">
      		<a href="/" title="Majestic Inns">
      			<img src="media/MajesticInns/01.jpg" alt="MajesticInns" />
      		</a>
      	</div>
      </div>
      
      <div class="search-box">
      	<h2 title="Search for Hotels">Search for Hotels</h2>
      	
          <% form_tag :controller => 'hotels', :action => 'search' do %>
    			
      		<ul>
      			<li>
      				<label>Location</label>
		    			<%= text_field_tag :search, params[:search], :class=>'txtfield' %>

      			</li>
      			<li>
      				<label>Arrival Date</label>
      				<input id="datepicker" name="arrival-date" type="text" class="arrival-date" />
      			</li>
      			<li>
      				<label>How many person?</label>
      				<select>
      				  <option value="1">1 Person</option>
      				  <option value="2">2 People</option>
      				  <option value="3">3 People</option>
      				  <option value="4">4 People</option>
      				</select>							
      			</li>
      			<li>
      				<label>Number of Nights?</label>
      				<select>
      				  <option value="1">1</option>
      				  <option value="2">2</option>
      				  <option value="3">3</option>
      				  <option value="4">4</option>
      				</select>							
      			</li>
      			<li class="send-enquiry">
      			  <%= submit_tag '', :name => :nil, :class => 'submit-button' %>
      			</li>
      		</ul>
    		<% end %>			
      </div>

      </div>
      <div class="info-box">
      <div class="cont">
      	Another box example. 
      </div>
      </div>
      <div class="one-third">
      <div class="small-box">
      	<h2>Guest Box</h2>
      	<ul>
      		<li><a href="#" title="FAQ">FAQ</a></li>
      		<li><a href="#" title="How to make a reservation?">How to make a reservation?</a></li>
      		<li><a href="#" title="Additional information">Additional information</a></li>
      		<li><a href="#" title="Payment options">Payment options</a></li>
      		<li><a href="#" title="Booking tips">Booking tips</a></li>
      		<li><a href="#" title="Site feedback">Site feedback</a></li>
      	</ul>
      </div>
      </div>
      <div class="one-third">
      <div class="small-box">
      	<h2>Customer Service</h2>
      </div>
      </div>
      <div class="one-third last">
      <div class="small-box">
      	<h2>Newsletter</h2>
      </div>
      </div>