<% javascript 'jquery-ui-1.8.9.custom.min','jquery.cycle.all.min','application'%>

      <div class="banner">
      	<div class="images"  id="pics" style="position:relative;">
					<div class="cycle">	
						<a href="/seaviewinn" title="Sea View Inn">
							<img src="media/seaviewinn/01.jpg" alt="Sea View Inn" />
						</a>
					</div>
					<div class="cycle">
						<a href="/homely-house" title="Homely House">
							<img src="media/HomelyHouse/01.jpg" alt="homely house" />
						</a>
					</div>
					<div class="cycle">
						<a href="/" title="Homely House">
							<img src="media/hotel_01.jpg" alt="hotels" />
						</a>
					</div>
					<div class="cycle">
						<a href="/" title="Majestic Inns">
							<img src="media/MajesticInns/01.jpg" alt="MajesticInns" />
						</a>
					</div>
				</div>
      
      <div class="search-box">
        <div class="heading">
      	  <h2 class="search-for-hotels" title="Search for Hotels">Search for Hotels</h2>
      	</div>
          <% form_tag hotels_path, :method => 'get' do %>
    			
      		<ul>
      			<li>
      				<label>Location</label>
		    			<%= text_field_tag :search, params[:search], :id=> 'search-field', :class=>'txtfield' %>

      			</li>
      			<li>
      				<label>Arrival Date</label>
      				<input id="datepicker" name="arrival-date" type="text" class="arrival-date" />
      			</li>
      			<li>
      				<label>How many person?</label>
      				<select>
      				  <option value="1">1 Person</option>
      				  <option value="2">2 People</option>
      				  <option value="3">3 People</option>
      				  <option value="4">4 People</option>
      				</select>							
      			</li>
      			<li>
      				<label>Number of Nights?</label>
      				<select>
      				  <option value="1">1</option>
      				  <option value="2">2</option>
      				  <option value="3">3</option>
      				  <option value="4">4</option>
      				</select>							
      			</li>
      			<li class="send-enquiry">
      			  <%= submit_tag '', :name => :nil, :class => 'submit-button' %>
      			</li>
      		</ul>
    		<% end %>			
      </div>

      </div>

			<div class="browse-by">
				<div class="hotel-types">
					<div class="heading">
						<h2 title="Browse by Hotel Types">Browse by Hotel Types</h2>
					</div>

					<ul>
					  <% @hotel_types.each do |hotel_type|%>  					
						  <li><%= link_to hotel_type.name , hotel_types_path %></li>
					  <% end %>
					</ul>

				</div>
			</div>
      

  			<div class="top-rated">
  				<div class="heading">			
  					<h2>Top rated hotels</h2>
  				</div>	

        	<div class="list">
        		<div class="hotel-box">
        			<div id="01" class="hotel">
        				<div class="thumb">
        					<a href="#" title=""><img src="/media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
        				</div>
        				<div class="details">
        					<h3><a href="#">Sea View Inn</a></h3>
        					<div class="loc">Henden, Middlesex</div>
        					<div class="s5"></div><div class="reviews"><a href="#" title="reviews">Reviews</a></div>
        				</div>
        			</div>
        		</div>
        		
        		<div class="hotel-box">
        			<div id="01" class="hotel">
        				<div class="thumb">
        					<a href="#" title=""><img src="/media/CapitolHotel/thumbs/01.jpg" title="Title for 1.jpg" /></a>
        				</div>
        				<div class="details">
        					<h3><a href="#">Capitol Hotel</a></h3>
        					<div class="loc">Henden, Middlesex</div>
        					<div class="s4"></div><div class="reviews"><a href="#" title="reviews">Reviews</a></div>        					
        				</div>
        			</div>
        		</div>

        		<div class="hotel-box">
        			<div id="01" class="hotel">
        				<div class="thumb">
        					<a href="#" title=""><img src="/media/PremierNights/thumbs/01.jpg" title="Title for 1.jpg" /></a>
        				</div>
        				<div class="details">
        					<h3><a href="#">Premier Nights</a></h3>
        					<div class="loc">Henden, Middlesex</div>
        					<div class="s3"></div><div class="reviews"><a href="#" title="reviews">Reviews</a></div>        					
        				</div>
        			</div>
        		</div>

        		<div class="hotel-box">
        			<div id="01" class="hotel">
        				<div class="thumb">
        					<a href="#" title=""><img src="/media/MajesticInns/thumbs/01.jpg" title="Title for 1.jpg" /></a>
        				</div>
        				<div class="details">
        					<h3><a href="#">Majastic Inn</a></h3>
        					<div class="loc">Kingston, Surrey</div>
        					<div class="s5"></div><div class="reviews"><a href="#" title="reviews">Reviews</a></div>        					
        				</div>
        			</div>
        		</div>
        		
        	</div>

          
  			</div>

  		<div class="full-width">
        <div class="one-third">
          <div class="small-box">
            <div class="heading">
          	  <h2 class="guest-box">Guest Box</h2>
          	</div>
          	<ul>
          		<li><a href="#" title="FAQ">FAQ</a></li>
          		<li><a href="#" title="How to make a reservation?">How to make a reservation?</a></li>
          		<li><a href="#" title="Additional information">Additional information</a></li>
          		<li><a href="#" title="Payment options">Payment options</a></li>
          		<li><a href="#" title="Booking tips">Booking tips</a></li>
          		<li><a href="#" title="Site feedback">Site feedback</a></li>
          	</ul>
          </div>
        </div>
        <div class="one-third">
          <div class="small-box">
    				<div class="heading">        
          	  <h2 class="customer-service">Customer Service</h2>
            </div>  
          </div>
        </div>
        
        <div class="one-third last">
          <div class="small-box">
    				<div class="heading">      
          	  <h2 class="newsletter">Newsletter</h2>
          	</div>
          </div>
        </div>
      </div>