<% title "Add Room Type Information" %>

<div class="left-area">
	<div class="win-box">
      <div class="admin">
        <h2>Menu</h2>
          	<ul>
				<li><%= link_to "Back", @hotel %></li>
			</ul>  			
      </div>			
	</div>

<%= render 'form' %>

<p><%= link_to "Back to List", room_types_path %></p>
