<div class="left-area">
	<div class="win-box">
		<div class="contact-addr">
      <div class="admin">
        <h2>Manage</h2>
          <ul>
    				<li><%= link_to "Manage Facilities", facilities_path %></li>
    				<li><%= link_to "New Hotel", new_hotel_path %></li>
    				<li><%= link_to "Edit", edit_hotel_path(hotel) %></li>
    			</ul>  			
      </div>			
		</div>
	</div>
</div>