<div class="left-area">
	<div class="win-box">
		<div class="contact-addr">
      <div class="admin">
        <h2>Admin</h2>
      </div>
			
		</div>
		<div class="info">	
			<h2>Information</h2>
			<ul>
				<li><a href="#" title="FAQ">FAQ</a></li>
				<li><a href="#" title="How to make a reservation?">How to make a reservation?</a></li>
				<li><a href="#" title="Additional information">Additional information</a></li>
				<li><a href="#" title="Payment options">Payment options</a></li>
				<li><a href="#" title="Booking tips">Booking tips</a></li>
				<li><a href="#" title="Site feedback">Site feedback</a></li>
			</ul>

		</div>
	</div>

</div>