<div class="left-area">
<div class="win-box">
	<div class="filters">
		<div class="heading">	
			<h2 class="smart-filters" title="Smart Filters">Smart Filters</h2>
		</div>			
	</div>			
	<div class="info">	
		<div class="heading">
			<h2 class="top-location" title="Top Locations">Top Locations</h2>
		</div>
			<ul>
				<li><a href="#" title="The City">The City</a></li>
				<li><a href="#" title="Greenwich">Greenwich</a></li>
				<li><a href="#" title="Wembledon">Wembledon</a></li>
				<li><a href="#" title="King Cross">King Cross</a></li>
				<li><a href="#" title="Twickenham">Twickenham</a></li>
				<li><a href="#" title="Camden">Camden</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="list">
    <div>
      Hotels in Cricklewood
    </div>
    
  
	<div class="list-block">
		<div class="box">
			<div id="01" class="hotel">
				<div class="thumb">
					<a href="#" title=""><img src="/media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
				</div>
				<div class="details">
					<h3><a href="#">Sea View Inn</a></h3>
					<div class="s4"></div>
					<div class="loc">Henden, Middlesex</div>
					
					<div class="price">From &pound; <span>76</span></div>
				</div>
				<div class="desc">
					<p>Espacio Torrijos is situated on Hermosilla Street next to General Díaz Porlier, in the quarter of Salamanca in the heart of Madrid. The seven storey building provides a range of one, two and three bedroom apartments and spacious penthouses.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list-block">
		<div class="box">
			<div id="01" class="hotel">
				<div class="thumb">
					<a href="#" title=""><img src="/media/CapitolHotel/thumbs/01.jpg" title="Title for 1.jpg" /></a>
				</div>
				<div class="details">
					<h3><a href="#">Holiday With Us</a></h3>
					<div class="s5"></div>
					<div class="loc">Waterloo, London</div>
					<div class="price">From &pound; <span>76</span></div>
				</div>
				<div class="desc">
					<p>It is simply that wehave very high standards. There are fine restaurants with wonderful food and friendly service.  People who work for us genuinely enjoy being there;  everyone strives to make your stay a happy one.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list-block">
		<div class="box feature">
			<div id="01" class="hotel">
				<div class="thumb">
					<a href="#" title=""><img src="/media/PremierNights/thumbs/01.jpg" title="Title for 1.jpg" /></a>
				</div>
				<div class="details">
					<h3><a href="#">Capitol Hotel</a></h3>
					<div class="s5"></div>								
					<div class="loc">Henden, Middlesex</div>
					<div class="price">From &pound; <span>176</span></div>
				</div>
				<div class="desc">
					<p>Inspiring and beautiful properties, impeccable service and expertise, for business and for leisure, means we offer our guests an environment in which to relax and, most importantly, be productive</p>
				</div>
			</div>
		</div>
	</div>
		
	</div>	
</div>