<div class="left-area">
  <div class="win-box">	
	  <h2>Smart Filters</h2>						
		<div class="info">	
			<h2>Information</h2>
			<ul>
				<li><a href="#" title="FAQ">FAQ</a></li>
				<li><a href="#" title="How to make a reservation?">How to make a reservation?</a></li>
				<li><a href="#" title="Additional information">Additional information</a></li>
				<li><a href="#" title="Payment options">Payment options</a></li>
				<li><a href="#" title="Booking tips">Booking tips</a></li>
				<li><a href="#" title="Site feedback">Site feedback</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="list">

	<div class="list-block">
		<div class="box">
			<div id="01" class="hotel">
				<div class="thumb">
					<a href="#" title=""><img src="/media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
				</div>
				<div class="details">
					<h3><a href="#">Sea View Inn</a></h3>
					<div class="s4"></div>
					<div class="loc">Henden, Middlesex</div>
					
					<div class="price">From &pound; <span>76</span></div>
				</div>
				<div class="desc">
					<p>Espacio Torrijos is situated on Hermosilla Street next to General Díaz Porlier, in the quarter of Salamanca in the heart of Madrid. The seven storey building provides a range of one, two and three bedroom apartments and spacious penthouses.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list-block">
		<div class="box">
			<div id="01" class="hotel">
				<div class="thumb">
					<a href="#" title=""><img src="/media/CapitolHotel/thumbs/01.jpg" title="Title for 1.jpg" /></a>
				</div>
				<div class="details">
					<h3><a href="#">Holiday With Us</a></h3>
					<div class="s5"></div>
					<div class="loc">Waterloo, London</div>
					<div class="price">From &pound; <span>76</span></div>
				</div>
				<div class="desc">
					<p>It is simply that wehave very high standards. There are fine restaurants with wonderful food and friendly service.  People who work for us genuinely enjoy being there;  everyone strives to make your stay a happy one.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="list-block">
		<div class="box feature">
			<div id="01" class="hotel">
				<div class="thumb">
					<a href="#" title=""><img src="/media/PremierNights/thumbs/01.jpg" title="Title for 1.jpg" /></a>
				</div>
				<div class="details">
					<h3><a href="#">Capitol Hotel</a></h3>
					<div class="s5"></div>								
					<div class="loc">Henden, Middlesex</div>
					<div class="price">From &pound; <span>176</span></div>
				</div>
				<div class="desc">
					<p>Inspiring and beautiful properties, impeccable service and expertise, for business and for leisure, means we offer our guests an environment in which to relax and, most importantly, be productive</p>
				</div>
			</div>
		</div>
	</div>
		
	</div>	
</div>