<div class="left-area">
	<div class="win-box">
      <div class="admin">
        <h2>Menu</h2>
          <ul>
    				<li><%= link_to "Back to List", @hotel %></li>
    			</ul>  			
      </div>			
		</div>
  <%= render :partial => 'shared/admin_menu' %>      
</div>
<div class="main-content">
<h2>New Review for <%= @hotel.name %></h2>

<%= render 'form' %>

</div>
<p></p>
