<%= render :partial => 'accounts/left_side' %>      

<div class="main-content">
<h2>User Profile</h2>
<%= @user.username %><br />
<%= @user.email %></br />
<% @hotels.each do |my_hotel| %>
  <%= my_hotel.name%>
<% end %>
</div>